{{> header}}

{{#if user}}
<div class="feed" id="feed"></div>
{{else}}
<div class="welcome-screen">
<h1 class="welcome-text">Hello! Welcome to Dinosaur!</h1>
<div class="btn_start">
	<a href="/signup" class="btn btn-success btn-block">
     	<span>GETTING STARTED</span>
    </a>
</div>
  <h1 class="welcome-screen__logotype dinosaur"> <div class="sr-only">Dinosaur</div></h1>
</div>
{{/if}}